/* start header styles */
.header {
  height: 80vh;
  background-size: cover;
}
.header header {
  position: relative;
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
}
.header ul li {
  list-style: none;
  margin-left: 10px;
}
.header ul li a {
  text-decoration: none;
  color: var(--black--);
  font-size: 18px;
  font-weight: 500;
}
.header h1 {
  color: var(--g3--);
}
.header button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}
.header button:first-child {
  color: var(--white--);
  background-color: var(--g3--);
  border-radius: 20px;
}
.header button:last-child {
  background-color: transparent;
}
.header span {
  background-image: url("./public/images/mobile.jpg");
  width: 50%;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 0;
  background-size: cover;
  overflow: hidden;
}
.header span div {
  position: absolute;
}
.header > div:first-child {
  position: absolute;
  width: 50%;
  height: 80vh;
  left: 0;
  background-color: #f5f5f5;
}
.header span div:nth-child(1) {
  width: 45vh;
  height: 69vh;
  bottom: -20vh;
  left: -20vh;
  border-radius: 50%;
  border: 20vh solid #f5f5f5;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.header span div:nth-child(2) {
  width: 100px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 50%;
  left: 39vh;
  transform: rotate(50deg);
  top: -52px;
}
.header span div:last-child {
  width: 100px;
  height: 200px;
  background-color: #f5f5f5;
  border-radius: 50%;
  left: -40px;
  transform: rotate(400deg);
  bottom: -132px;
}
/* end header styles */
