/* start header styles */
.header {
  height: 80vh;
  background-size: cover;
}
.header header {
  position: relative;
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  display: flex;
  z-index: 2;
}
.header ul li {
  list-style: none;
  margin-left: 25px;
}
.header ul li a {
  text-decoration: none;
  color: var(--black--);
  font-size: 18px;
  font-weight: 500;
}
.header h1 {
  color: var(--g3--);
}
.header .signIn {
  z-index: 2;
}
.header button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  border-radius: 20px;
}
.header button:first-child {
  color: var(--white--);
  background-color: var(--g3--);
}
.header button:last-child {
  color: var(--g3--);
  background-color: #f5f5f5;
}
.header > span {
  background-image: url("./public/images/mobile.jpg");
  width: 50%;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 0;
  background-size: cover;
  overflow: hidden;
}
.header > div:first-child {
  position: absolute;
  width: 50%;
  height: 70vh;
  left: 0;
  background-color: #f5f5f5;
}
.header span div {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.header span div:nth-child(1) {
  width: 45vh;
  height: 57vh;
  top: -46px;
  left: -20vh;
  border: 20vh solid #f5f5f5;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.header span div:nth-child(2) {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 100px solid #f5f5f5;
  left: 129px;
  top: -116px;
  transform: rotate(-38deg);
}
.header span div:nth-child(3) {
  width: 80%;
  height: 400px;
  background-color: transparent;
  left: -110px;
  bottom: -100px;
  border: 101px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(13deg);
}
.header span div:nth-child(4) {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  left: 108px;
  bottom: -33vh;
}
.header span div:last-child {
  width: 70px;
  height: 140px;
  background-color: transparent;
  right: -81px;
  bottom: -90px;
  border: 100px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.header .headerInfo {
  position: absolute;
  margin: 5vw;
  width: 40%;
}
.header .headerInfo h1 {
  color: var(--black--);
}
.header .headerInfo span {
  color: var(--g3--);
}
.header .headerInfo p {
  color: #00000061;
}
.header .navbar {
  width: 70%;
  height: 70px;
  border-radius: 45px;
  position: absolute;
  bottom: 25vh;
  left: 5vw;
  z-index: 2;
  background-color: var(--white--);
  box-shadow: 0 0 15px #00000061;
}
.header .navbar svg {
  color: var(--g3--);
}
.header .navbar li > p {
  color: #00000061;
}
.header .navbar div > p {
  font-weight: bold;
}
.header .navbar ul {
  justify-content: space-between;
  align-items: flex-start;
}
.header .navbar ul li {
  position: relative;
  cursor: pointer;
}
.header .navbar ul li::after {
  content: "";
  width: 1px;
  height: 70%;
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #00000031;
}

.header .navbar ul div {
  display: flex;
  align-items: flex-start;
}
.header .navbar ul li div p {
  margin: 0 5px;
}
.header .navbar ul li > p {
  margin-top: 5px;
}
.header .navbar ul li:last-child:after {
  display: none;
}
.header .navbar ul li:last-child svg {
  width: 27px;
  height: 27px;
  color: var(--white--);
  background-color: var(--g3--);
  padding: 15px;
  border-radius: 50%;
  transform: translate(-7px, -9px);
}
/* end header styles */
/* start trips styles */
#Trips {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
  justify-content: space-between;
}
#Trips .tripsHead {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
#Trips .tripsHead > div:first-child {
  width: calc(50% - 5vw - 80px);
}
#Trips .tripsHead > div:first-child p {
  color: #00000061;
  font-size: 15px;
}

#Trips .tripsHead > div:nth-child(2) svg:first-child {
  color: var(--g3--);
}
#Trips .tripsHead > div:last-child {
  width: calc(50% - 5vw - 80px);
  display: flex;
  justify-content: flex-end;
}
#Trips .tripsHead > div:last-child svg {
  padding: 10px;
  border: 1px solid var(--g1--);
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
#Trips .tripsBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
  height: 220px;
}
#Trips .tripsBody .card {
  position: relative;
  width: 220px;
  height: 200px;
  box-shadow: 0 0 10px #00000031;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
}
#Trips .tripsBody .card img {
  width: 100%;
}
#Trips .tripsBody .card svg {
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  top: 10px;
}
#Trips .tripsBody .card svg:nth-child(2) {
  left: 10px;
  color: var(--white--);
  background-color: var(--g3--);
}
#Trips .tripsBody .card svg:nth-child(3) {
  right: 10px;
  color: var(--black--);
  background-color: var(--white--);
  cursor: pointer;
}
#Trips .tripsBody .card div {
  background-color: var(--white--);
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
#Trips .tripsFoot {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Trips .tripsFoot button {
  color: var(--g3--);
  font-weight: bold;
}
/* end trips styles */
