/* start header styles */
.header {
  height: 80vh;
  background-size: cover;
}
#header {
  position: relative;
  margin: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  z-index: 2;
}
ul li {
  margin-left: 25px;
}
ul li a {
  font-size: 18px;
  font-weight: 500;
}
#header ul li a:hover {
  color: var(--b1--);
}
.signIn {
  z-index: 2;
  display: flex;

  align-items: center;
}
.signIn > * {
  margin: 0 4px;
}
.signIn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.signIn .button {
  height: 20px;
  border: none;
  color: var(--white--);
  background-color: var(--g3--);
}
.signIn svg {
  color: var(--b1--);
  font-size: 20px;
}
#header .button:first-child {
  color: var(--g3--);
  background-color: #f5f5f5;
}
button,
.button {
  padding: 10px 20px;
  margin: 0 4px;
}
.header > span {
  background-image: url("./public/images/mobile.jpg");
  width: 50%;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 0;
  background-size: cover;
  overflow: hidden;
}
.header > div:first-child {
  position: absolute;
  width: 50%;
  height: 70vh;
  left: 0;
  background-color: #f5f5f5;
}
.header span div {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.header span div:nth-child(1) {
  width: 45vh;
  height: 57vh;
  top: -46px;
  left: -20vh;
  border: 20vh solid #f5f5f5;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.header span div:nth-child(2) {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 100px solid #f5f5f5;
  left: 129px;
  top: -116px;
  transform: rotate(-38deg);
}
.header span div:nth-child(3) {
  width: 80%;
  height: 400px;
  background-color: transparent;
  left: -110px;
  bottom: -100px;
  border: 101px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(13deg);
}
.header span div:nth-child(4) {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  left: 108px;
  bottom: -33vh;
}
.header span div:last-child {
  width: 70px;
  height: 140px;
  background-color: transparent;
  right: -81px;
  bottom: -90px;
  border: 100px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.header .headerInfo {
  position: absolute;
  margin: 5vw;
  width: 40%;
}
.header .headerInfo span {
  color: var(--g3--);
}
.header .headerInfo p {
  color: #00000061;
}
.header .navbar {
  width: 70%;
  height: 70px;
  border-radius: 45px;
  position: absolute;
  bottom: 25vh;
  left: 5vw;
  z-index: 2;
  background-color: var(--white--);
  box-shadow: 0 0 15px #00000061;
}

.header .navbar svg {
  color: var(--g3--);
}
.header .navbar li > p {
  color: #00000061;
}
.header .navbar div > p {
  font-weight: bold;
}
.header .navbar ul {
  justify-content: space-between;
  align-items: flex-start;
}
.header .navbar ul li {
  position: relative;
  cursor: default;
}
.header .navbar ul li::after {
  content: "";
  width: 1px;
  height: 70%;
  position: absolute;
  top: 0;
  right: -10px;
  background-color: #00000031;
}

.header .navbar ul div {
  display: flex;
  align-items: flex-start;
}
.header .navbar ul li div p {
  margin: 0 5px;
}
.header .navbar ul li > p {
  margin-top: 5px;
}
.header .navbar ul li:last-child:after {
  display: none;
}
.header .navbar ul li:last-child svg {
  width: 27px;
  height: 27px;
  color: var(--white--);
  background-color: var(--g3--);
  padding: 15px;
  border-radius: 50%;
  transform: translate(-7px, -9px);
}
/* end header styles */
/* start trips styles */
#Trips {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
  justify-content: space-between;
}
#Trips .tripsHead {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
#Trips .tripsHead > div:first-child {
  width: calc(50% - 5vw - 80px);
}
#Trips .tripsHead > div:first-child p {
  color: #00000061;
  font-size: 15px;
}
#Trips .tripsHead > div:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#Trips .tripsHead > div:nth-child(2) svg:first-child {
  color: var(--g3--);
}
#Trips .tripsHead ul {
  display: none;
  position: absolute;
  width: 182px;
  flex-direction: column;
  height: 200px;
  background-color: #f5f5f5;
  padding: 0;
  box-shadow: 1px 1px 10px #00000021;
}
#Trips .tripsHead ul li {
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid var(--b2--);
  margin: 0;
}
#Trips .tripsHead ul li:hover {
  background-color: var(--b2--);
  color: var(--g3--);
}
#Trips .tripsHead > div:last-child {
  width: calc(50% - 5vw - 80px);
  display: flex;
  justify-content: flex-end;
}
#Trips .tripsHead > div:last-child svg {
  padding: 10px;
  background-color: var(--g3--);
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  color: var(--white--);
}
#Trips .tripsBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
  height: 226px;
  margin: 40px 0;
}
#Trips .tripsBody .card {
  width: 220px;
  height: 207px;
  border-radius: 20px;
  margin: 10px;
}
#Trips .tripsBody .card img {
  width: 100%;
}

#Trips .tripsBody .card div {
  width: 200px;
  height: 60px;
  padding: 0 10px;
}
#Trips .tripsFoot {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
#Trips .tripsFoot button {
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: 1px solid;
  color: var(--g3--);
}
/* end trips styles */
/* start aboutUs styles */
#AboutUs {
  margin: 50px 5vw;
}
#AboutUs .aboutUsHead,
#AboutUs .aboutUsBody {
  width: 80vw;
  background-color: #f5f5f5;
  height: 45vh;
  border-radius: 20px;
  display: flex;
  padding: 0 5vw 80px;
}
#AboutUs .aboutUsHead > div:first-child,
#AboutUs .aboutUsBody > div:first-child {
  width: 40vw;
}
#AboutUs .aboutUsHead a {
  background-color: var(--g3--);
  color: var(--white--);
  width: 100px;
}
#AboutUs .aboutUsHead span {
  color: var(--g3--);
  font-size: 30px;
}
#AboutUs .aboutUsHead p {
  color: #00000061;
}
#AboutUs .aboutUsHead > div:first-child * {
  margin: 10px 0;
}
#AboutUs .aboutUsHead > div:last-child,
#AboutUs .aboutUsBody > div:last-child {
  width: 40vw;
  position: relative;
}
#AboutUs img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#AboutUs .aboutUsBody {
  background-color: var(--white--);
  color: var(--g3--);
}
#AboutUs .aboutUsBody h2 {
  margin: 30px 0;
}
#AboutUs .aboutUsBody p {
  color: #00000061;
}
#AboutUs .aboutUsBody span {
  color: var(--g3--);
  font-weight: bold;
  margin-right: 10px;
}
#AboutUs .aboutUsBody div svg {
  color: var(--white--);
  padding: 8px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  cursor: pointer;
}
#AboutUs .aboutUsBody div svg:first-child {
  background-color: var(--g3--);
}
#AboutUs .aboutUsBody div svg:last-child {
  background-color: var(--g1--);
}
/* end aboutUs styles */
/* start footer styles */
footer {
  background-color: var(--b2--);
  color: var(--white--);
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
footer .logo::after {
  background-color: var(--white--);
}
footer > div {
  height: 30vh;
  display: flex;
  width: 90vw;
  margin: 0 5vw;
  justify-content: space-between;
}
footer div p {
  transform: translate(40px, -10px);
  margin: 0;
}
footer h2 {
  color: var(--g3--);
}
footer a {
  color: var(--white--);
}
footer a:hover {
  color: var(--g2--);
}
footer ul {
  padding: 0 15px;
}
footer ul li {
  margin: 5px 0;
}
footer div > div:nth-child(2) ul {
  display: flex;
  flex-direction: column;
}
footer div > div:nth-child(3) div {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
footer div > div:nth-child(3) div p {
  transform: translate(10px, 0);
}
footer div > div:nth-child(3) svg:hover {
  transform: scale(1.1);
  color: var(--g3--);
}
footer div > div:nth-child(3) > div:last-child svg {
  margin-right: 10px;
}
footer::after {
  content: "";
  position: absolute;
  bottom: 10vh;
  width: 90vw;
  left: 5vw;
  height: 1px;
  background-color: var(--g3--);
}
footer .foot {
  display: flex;
  position: absolute;
  top: 43vh;
  align-items: center;
  font-size: 13px;
  color: #f5f5f5;
  justify-content: center;
  width: 90vw;
}
footer .foot p {
  transform: translate(15px, 0);
}
footer .foot svg {
  font-size: 16px;
  color: var(--g3--);
}
/* end footer styles */
/* start search page styles */

#searchForm {
  position: absolute;
  top: 100px;
  width: 85%;
  left: 15%;
}
.searchPage form input {
  border-radius: 5px;
  border: 1px solid var(--b2--);
  color: var(--b2--);
}
.searchPage form #search {
  width: 70%;
  height: 35px;
  font-size: 18px;
}
.searchPage .cards {
  width: 90vw;
  margin: 100px 5vw;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.searchPage .card {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  width: 90vw;
  height: 400px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}
.searchPage .card svg:nth-child(3) {
  left: calc(50% - 40px);
}
.searchPage .card img {
  width: 50%;
  height: 100%;
}
.searchPage .card > p {
  width: calc(50% - 20px);
  font-weight: normal;
}
.searchPage .card > div {
  padding: 0 30px;
  border-top-right-radius: 40px;
  width: 150px;
}
.searchPage .card form {
  width: calc(50% - 40px);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.searchPage .card form input {
  height: 25px;
  width: -webkit-fill-available;
}
.searchPage .card form div {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

/* end search page styles */
/* start login  page styles */
.signUpPage,
.logInPage {
  padding: 5vh 5vw;
  max-height: 100vh;
  background-color: #f5f5f5;
}
.logInPage {
  min-height: calc(400px + 10vh);
  padding-bottom: calc(90vh - 432px);
}
.signUpPage {
  min-height: calc(600px + 10vh);
}
.logIn,
.signUp {
  width: 80vw;
  height: 400px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #00000031;
  column-gap: 20px;
  padding: 5vh 5vw;
  background-color: var(--b1--);
}
.leftSide h1 {
  color: var(--g2--);
}
.leftSide form,
.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.leftSide {
  width: calc(40vw - 10px);
  height: 400px;
}
.leftSide > * {
  margin: 0;
}
.leftSide .googleLogIn {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #00000031;
  overflow: hidden;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  background-color: black;
}
.leftSide form label {
  color: var(--g2--);
  font-weight: bold;
}
.leftSide form::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--g3--);
  top: -15px;
}
.leftSide form::before {
  position: absolute;
  top: -23px;
  content: "OR";
  left: 50%;
  transform: translate(-50%);
  color: var(--g3--);
  z-index: 2;
  background-color: var(--b1--);
}
.leftSide form {
  position: relative;
  align-items: start;
  margin-top: 20px;
}
.leftSide form input {
  width: 100%;
  height: 30px;
  border: none;
  border-left: 2px solid var(--b2--);
  color: var(--b2--);
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.leftSide form input[type="submit"] {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  color: var(--g3--);
  font-size: 16px;
}
.leftSide a {
  font-weight: bold;
  color: var(--g2--);
}
.leftSide p {
  color: var(--g3--);
}
.logIn .rightSide {
  width: calc(40vw - 10px);
  height: 400px;
  background-image: url("./public/images/undraw_access_account_re_8spm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* end login page styles */
/* start signup  page styles */
.signUp {
  height: 600px;
}
.signUp .rightSide,
.signUp .leftSide {
  height: 600px;
  width: calc(40vw - 10px);
}
.signUp .rightSide {
  background-image: url("./public/images/undraw_login_re_4vu2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* end signup page styles */
/* start profile page styles*/
#Profile .profileBody {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: auto;
}
#Profile nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#Profile nav > * {
  margin: 30px 0;
}
.profilePhoto {
  color: #00000061;
  border: 2px solid #00000061;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.profilePhoto svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 125px;
}
.profilePhoto::after {
  content: "change";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00000061;
  color: var(--white--);
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}
#Profile nav ul {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 0;
}
#Profile nav ul li {
  margin-bottom: 10px;
}
#Profile nav ul li .active {
  color: var(--b1--);
}
#Profile #MyTrips {
  height: 100%;
}
#Profile .noOldTrips,
.noFavTrips,
.rootPortfolio {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  font-size: 25px;
}
/* end profile page styles*/
