@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Oleo+Script+Swash+Caps:wght@700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--g1--);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white--);
  font-weight: 500;
}
:root {
  --g1--: #c7f9cc;
  --g2--: #80ed99;
  --g3--: #57cc99;
  --b1--: #38a3a5;
  --b2--: #22577a;
  --black--: #000;
  --white--: #fff;
}
